<label for="title"> Title </label> 
<input id="title" type="text" name="title" value="<%= @post.try(:title) %>"> <br> 
<br> 
<label for="body"> Body </label>  
<textarea id="body" name="body"><%= @post.try(:body) %></textarea>  <br>
<br> 
<label for="author"> Author </label>
<input id="author" type="text" name="author" value="<%= @post.try(:author) %>"><br> 
<br> 
<label for="tag"> Tag </label>
<input id="tag" type="text" name="hey">
<!-- <input id="tag" type="text" name="input_tags"> -->
<br>
<input type="submit" value="submit">
